.info{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 0;
    height: 600px;
    border: 1px solid red;
    background-color: #F2F2F2;
    -webkit-transition: all 0.3s linear;
    -webkit-transform: scale(0);
}
.infoPop{
    -webkit-transform: scale(1);
}
.displayName{
    float: left;
    margin-left: 8%;
}
.contactList{
    top: 2%;
}