*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FAFAFA;
}
.heading{
    text-align: center;
    padding: 1%;
    background: -webkit-linear-gradient(top, #ffffff 0%, #F2F2F2 99%);
    border: 1px solid #DBDBDB;
    border-radius: 100px;
    text-shadow: 3px 3px 7px #666666;
}
.List{
    width: 100%;
}
.ListItem{
    text-align: left;
    padding: 1.3%;
    background: -webkit-linear-gradient(top, #ffffff 0%, #F2F2F2 99%);
    font-size: 1em;
    font-weight: lighter;
    font-family: Calibri;
}
.spanClose{
    background-color: red;
    cursor: pointer;
}
.Enroll{
    text-align: center;
    padding: 1%;
    width: 100%;
    background: -webkit-linear-gradient(top, #FF4500 0%, #8B2500 99%);
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    color: white;
    font-size: 1.5em;
}
.studentForm{
    padding: 1%;
    border: 1px solid #666666;
}
.formBox{
    position: absolute;
    font-family: latha;
    font-weight: lighter;
    padding: 5%;
    border: 1px solid #808080;
    border-radius: 20px;
    background-color: #FFEFD5;
    transition:all 0.5s linear;
    -webkit-transform: scale(0);
}
.formBoxAppear{
    position: absolute;
    margin: 0% 0 0 -8%;
    -webkit-transform: scale(0.8);
}
.voice{
    text-align: center;
    padding: 3%;
    color: #ffffff;
    margin: 3px;
    background: -webkit-linear-gradient(top, #4876FF 0%, #27408B 99%);
}
.add{
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    padding: 1.5%;
    color: #ffffff;
    margin: 3px;
    border: 1px solid green;
    background: -webkit-linear-gradient(top, #54FF9F 0%, #2E8B57 99%);
}